main {
	height: 100vh;
}
  
  main::before, main::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity:0.8
}

main::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  filter:blur(90px);  
  margin-left: -200px;
  top: calc(50vh - 50vw/2);
  left: calc(50vw );
  animation: animateBefore 12s ease-in-out infinite;
}

main::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter:blur(90px);  
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
  animation: animateAfter 18s ease-in-out infinite;
	
}

@keyframes animateBefore {
  0% {
    transform: translateY(-90);
  }
  50% {
    transform: translateY(90px) scale(0.8);
  }
  100% {
    transform: translateY(-90);
  }
}

@keyframes animateAfter{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}
